body {

   background-color: rgb(47, 4, 88);
   display :flex ; 
   /* flex-wrap: wrap;
   grid-template-columns: repeat(3,1fr); */
 
    }
    .league{
    align-items: center;
      background-color: rgb(47, 4, 88);
      display :flex ; 
      flex-wrap: wrap;


    }
    h5{

      color: white;
    }