#h-style{
    text-align: center;}
    #style-h{
padding:.5px;
margin-bottom: 1%;
        text-align: center;
        color: whitesmoke;
        font-size:15px;
    }
    

    .footer-Style{
   
        height:10px;

    }
    .sec-style{

        background-color:rgb(50, 10, 100);
    }