#h-style{
    text-align: center;}
    #style-h{

        text-align: center;
        color: whitesmoke;

    }

    .footer-Style{
   
        height:10px;

    }
    .sec-style{

        background-color:rgb(50, 10, 100);
    }